<!DOCTYPE html>
<html>
<head>
    <title>Internship Email Tracker</title>
</head>

<body>
    <h1>Internship Email Tracker</h1>

    <h2>Applications</h2>
    <ul>
        <li>Applications: 12</li>
        <li>Assessments: 5</li>
        <li>Interviews: 3</li>
        <li>Offers: 1</li>
    </ul>

    <h2>Recent Internship Emails</h2>

    <ul>
        {% for email in emails %}
        <li>{{ email.company }}, {{ email.subject }}, {{ email.date }}, {{ email.stage }}</li>
        {% endfor %}
    </ul>
</body>
</html>